.login{
    display: flex;
    flex-direction: column;
    width: 400px;
    top: 20%;
    left: 35%;
    position: absolute;
    
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: rgba(98, 136, 219, 0.37);
    border-radius: 25px;
    transition: .4s ease-in-out;
}
.login:hover{
    transform: scale(1.05);
    border: 1px solid black;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }

  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
    
  }

  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(19, 18, 18);
    font-size: 1.2em;
    
  }
  
  .inicio{
    font-size: 20px;

  }

  .button {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    left: 25%;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
  }
  
  .button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  .button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }