{% extends 'shared/baseadmin.html' %}

{% block title %}
  detalle de usuario
{% endblock %}

{% block link %}
  <!-- carga de archivo css general -->

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/dataTables.bootstrap5.min.css' %}" />
  <link rel="stylesheet" href="  {% static 'css/font-awesome/font-awesome_all.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/administracion_app/adminstyle.css' %}" />
{% endblock %}

{% block body %}
<p>{{usuario.}}</p>
  <div class="container mt-5">
    <div>
<!--       <h1>{{ usuario.username }}</h1>
      <hr class="border border-primary border-3 opacity-75" />
    </div> -->
    <div class="text-dark bg-light rounded p-4">
      <div class="row">
        <div class="col-md-6">
          <h1>{{ usuario.username }}</h1>
          <hr class="border border-primary border-3 opacity-75" />
          <p class="border p-2">
            <span class="fw-bold">Id Usuario: </span><span>{{ usuario.id }}</span>
          </p>
          <p class="border p-2">
            <span class="fw-bold">Super Usuario: </span><span>{{ usuario.is_superuser|yesno:'Sí,No' }}</span>
          </p>
          <p class="border p-2">
            <span class="fw-bold">nombre usuario: </span><span>{{usuario.username }}</span>
          </p>
        </div>
        <div class="col-md-6 pt-5 mt-4">
          <p class="border p-2">
            <span class="fw-bold">Email: </span><span>{{ usuario.email }}</span>
          </p>
          <p class="border p-2">
            <span class="fw-bold">Activo: </span><span>{{ usuario.is_active|yesno:'Sí,No' }}</span>
          </p>
          <p class="border p-2">
            <span class="fw-bold">Fecha Registro: </span><span>{{ usuario.date_joined }}</span>
          </p>
        </div>
      </div>
      <br />
      <hr class="my-4" />
    </div>
    <br />
    <a class="btn btn-info" href="{% url 'gestion_usuarios' %}">Regresar</a>
    <a href="" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal">Modificar</a>
  </div>



  <!-- Modal para editar usuario -->

  <div class="modal fade" id="editarUsuarioModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="modalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark">
          {% csrf_token %}
          <div class="mb-3">
            <label for="nombreUsuario" class="form-label">Nombre de Usuario:</label>
            <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" value="{{ usuario.username }}" required />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}" required />
          </div>
          <div class="mb-3">
              <input type="checkbox" class="form-check-input" id="esSuperUsuario" name="esSuperUsuario" {% if usuario.is_superuser %}checked{% endif %} />
              <label class="form-check-label" for="esSuperUsuario">Super Usuario</label>
          </div>
          <div class="form-check form-switch mb-3">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" {% if usuario.is_active %}checked{% endif %} />
              <label class="form-check-label" for="flexSwitchCheckDefault" id="switchLabel">Activo</label>
          </div>

          <div class="mb-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}
