{% extends 'shared/menu_lateral.html' %}

{% block title %}
  Detalle Compra
{% endblock %}

{% block link %}
  {% load static %}
  <!--   <script src="{% static 'js/jquery.min.js' %}"></script>
           --> <!-- css -->
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/dataTables.bootstrap5.min.css' %}" />
  <link rel="stylesheet" href="  {% static 'css/font-awesome/font-awesome_all.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/administracion_app/agregar_marcas.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/gridjs.css' %}" />
{% endblock %}

{% block content %}
  <h2>DETALLE COMPRA</h2>

  <div class="pollito"></div>

  <div class="container my-3">
    <table id="datosdetalle" class="table table-striped">
      <thead>
        <tr>
          <th>Id Detalle Compra</th>
          <th>No Producto</th>
          <th>No Compra</th>
          <th>Descuentos</th>
          <th>Cantidad Compra</th>
          <th>Precio Compra</th>
          <th>Precio Venta</th>
          <th>No lote</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody id="tablaBody" class="text-white">
        {% for detalle in datos %}
          <tr data-id="{{ detalle.0 }}">
            <td>{{ detalle.0 }}</td>
            <td>{{ detalle.1 }}"</td>
            <td>{{ detalle.2 }}</td>
            <td>{{ detalle.3 }}</td>
            <td>{{ detalle.4 }}</td>
            <td>{{ detalle.5 }}</td>
            <td>{{ detalle.6 }}</td>
            <td>{{ detalle.7 }}</td>
            <td>
              <button class="btn-espacio btn-eliminar-lista btn btn-outline-danger" data-id="{{ listado.id_listado }}">Eliminar</button>
              <button class="btn-detalles-usuario btn btn-outline-info" data-id="{{ categoria.id_categoria }}">Detalles</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade otraClase" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-black">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">INGRESAR NUEVO DETALLE COMPRA</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="form_body" id="form_agregar_marca" method="POST">
            {% csrf_token %}
            {{ form.producto.label_tag }}
            {{ form.producto }}
            {{ form.compras.label_tag }}
            {{ form.compras }}
            {{ form.descuentos.label_tag }}
            {{ form.descuentos }}
            {{ form.cantidad.label_tag }}
            {{ form.cantidad }}
            {{ form.preciounitario.label_tag }}
            {{ form.preciounitario }}
            {{ form.preciosugerido.label_tag }}
            {{ form.preciosugerido }}
            {{ form.numerolote.label_tag }}
            {{ form.numerolote }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button id="btGuardarMarca" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div id="tablaPrueba"></div>

  <!-- ! USANDO TABLE -->

  <span id="mensajemarca"></span>
{% endblock %}

{% block script %}
  {% load static %}
  <script src="{% static 'DataTables/js/jquery.min.js' %}"></script>
  <script src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static '/js/dataTablesButtons.min.js' %}"></script>
  <script src="{% static 'DataTables/js/dataTables.bootstrap5.min.js' %}"></script>
  <script type="module" src="{% static 'js/Crud.js' %}"></script>
  <script type="module" src="{% static 'js/detallecompra.js' %}"></script>
  
{% endblock %}