<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    {% load bootstrap5 %}
    {% bootstrap_css %}

    <!--css generales-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
   
    <!-- bloque espesifico de css -->
    {% block link %}
    {% endblock %}

  </head>

  <body>
    <nav></nav>

    {% block body %}

    {% endblock %}

    <footer></footer>
    {% block script %}
    {% endblock %}
  </body>
</html>
