{% extends 'shared/baseadmin.html' %}
{% block title %}
  Inicio
{% endblock %}

{% block link %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/reportes/reportesgeneral.css' %}" />
  <!-- css -->
{% endblock %}

{% block body %}

  <h1 id="titulo">REPORTE GENERAL</h1>
  <form class="formulario form">
    <div class="card card1">
      <img class="pading" src="{% static 'images/administracion_app/imagen1.png' %}" class="card-img-top" alt="..." />
      <div class="card-body fondonegro">
        <h5 class="card-title text-white achecinco">REPORTERIA DE REABASTECIMIENTO</h5>
        <a href="#" class="btn btn-primary boton">Gestionar Modulo</a>
      </div>
    </div>

    <div class="card card1">
      <img class="pading" src="{% static 'images/administracion_app/imagen3.png' %}" class="card-img-top" alt="..." />
      <div class="card-body fondonegro">
        <h5 class="card-title text-white achecinco">REPORTERIA GESTION DE INVENTARIO</h5>
        <a href="#" class="btn btn-primary boton">Gestionar Modulo</a>
      </div>
    </div>
  </form>
{% endblock %}
