#titulo {
    text-align: center;
    margin-top: 150px;
}


.formulario {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Cambiado a una sola columna para pantallas pequeñas */
    grid-gap: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* Estilos para los elementos dentro del formulario */
.formulario > div {
    display: grid;
    grid-template-areas:
        "imagen"
        "titulo"; /* Cambiado el orden de las áreas para la imagen arriba y el título abajo */
    grid-template-rows: auto auto;
    text-align: center;
    padding: 30px;
    border: 1px solid rgb(238, 255, 0);
    border-radius: 20px;
}

/* Imagen */
.formulario img {
    grid-area: imagen;
    width: 100px; /* Tamaño de la imagen (ajusta según tus necesidades) */
    margin: 0 auto; /* Centra horizontalmente la imagen */
}

/* Título */
.formulario h2 {
    grid-area: titulo;
    margin: 0;
}

/* Consulta de medios para pantallas más grandes */
@media screen and (min-width: 768px) {
    .formulario {
        grid-template-columns: repeat(4, 1fr);
    }
}

button {
    display: inline-block;
    padding: 20px 20px;
    border: 1px solid #4f4f4f;
    border-radius: 15px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    font-size: 14px;
   }
   
   button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #dce400;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }